
.finWin{
    background-color: green;
    margin: 12px 0px;
    padding: 15px;
}
.finLos{
    background-color: red;
    margin: 12px 0px;
    padding: 15px;
}
.engagement{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-size: 30px;
}
.countDown{
    font-size: 2rem;
    font-weight: bolder;
    color:aliceblue;
    /* height: 200px; */
}